* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.left {
    padding: 1rem;
    border: 1px solid black;
    width: 40%;
}

.right {
    padding: 1rem;
    border: 1px solid black;
    width: 40%;
}

.controls {
    padding: 1rem 2rem;
    border: 1px solid black;
    display: flex;
    row-gap: 1rem;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 0.1rem 0.4rem;
}
